
.title {
    background-image: url("./Weather.jpg");
    font-size: 60px; 
    background-color:blue;
    color: rgb(255, 255, 255);
    border: 5px solid black(31, 223, 236);
    text-align: center;
    padding: 10px;
    margin: 10px;
}

#jumbotron{
    float: center;    
    padding: 2rem;
    border-style: solid;    
    margin-right: 13px;
    margin-top: 5px; 
    margin-left: 13px;
    width: 900px; 
    color:rgb(62, 59, 59); 
}

#button{
    width:100px;
    height: 35px;
    display: flex;
    margin-left: 30px; 
    margin-top: 10px;
}
#seach-city{
    width:200px;
    height: 45px;
    display: inline-block; 
    margin-left: 30px; 
    margin-top: 10px; 
    font:12px; 
}

#form {
    display: inline-block; 
    margin-left: 50px; 
    font-size: 30px;
}

#iconsContainer{
    display: flex;
    justify-content: space-around;
    margin-left: 600px;
    margin-right: 300px;
}
.icons {
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;

}

.image, .imgClass{
    display:flex;
    height: 40px;
    width: 100%;

}

.weather{
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    background-image: url("./Weather.jpg");
    color: white;

}

.Temp, .Wind, .Humidity{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin-bottom: 5px;
    margin-left: 5px;

    }
    
  